.collection1 {
    padding: 50px 0;
    margin: 50px
}

.collection1__collection-item {
    position: relative
}

.collection1__collection-item .collection1__product-image {
    position: relative;
    background: #f6f6f6;
    transition: all .3s ease-in-out
}

.collection1__collection-item .collection1__product-image.square {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection1__collection-item .collection1__product-image.square.col-xl-3,
.collection1__collection-item .collection1__product-image.circle.col-xl-3 {
    max-width: 100%;
}

.collection1__collection-item .collection1__product-image.rectangular.col-sm-3,
.collection1__collection-item .collection1__product-image.circle.col-sm-3,
.collection1__collection-item .collection1__product-image.rectangular.col-md-3,
.collection1__collection-item .collection1__product-image.circle.col-md-3,
.collection1__collection-item .collection1__product-image.rectangular.col-lg-3,
.collection1__collection-item .collection1__product-image.circle.col-lg-3,
.collection1__collection-item .collection1__product-image.square.col-lg-3,
.collection1__collection-item .collection1__product-image.square.col-md-3,
.collection1__collection-item .collection1__product-image.square.col-sm-3 {
    max-width: 100%;
}

.collection1__collection-item .collection1__product-image.rectangular.col-xl-3 {
    max-width: 100%;
}

.collection1__collection-item .collection1__product-image.square.col-xl-4,
.collection1__collection-item .collection1__product-image.circle.col-xl-4 {
    width: 100%;
    max-width: 100%;
    height: 356px;
}


.collection1__collection-item .collection1__product-image.square.col-lg-4,
.collection1__collection-item .collection1__product-image.square.col-md-4,
.collection1__collection-item .collection1__product-image.square.col-sm-4 {
    max-width: 100%;
    height: 356px;
}

.collection1__collection-item .collection1__product-image.circle.col-sm-4,
.collection1__collection-item .collection1__product-image.circle.col-md-4,
.collection1__collection-item .collection1__product-image.circle.col-lg-4 {
    max-width: 100%;
}


.collection1__collection-item .collection1__product-image.rectangular.col-sm-4,
.collection1__collection-item .collection1__product-image.rectangular.col-md-4,
.collection1__collection-item .collection1__product-image.rectangular.col-xl-4,
.collection1__collection-item .collection1__product-image.rectangular.col-lg-4 {
    max-width: 100%;
}

.collection1__collection-item .collection1__product-image.square.col-xl-6,
.collection1__collection-item .collection1__product-image.circle.col-xl-6 {
    width: 100%;
    max-width: 100%;
    height: 546px;
}

.collection1__collection-item .collection1__product-image.circle.col-md-6,
.collection1__collection-item .collection1__product-image.square.col-lg-6,
.collection1__collection-item .collection1__product-image.circle.col-lg-6 {
    width: 100%;
    max-width: 100%;
    height: 546px;
}

.collection1__collection-item .collection1__product-image.rectangular.col-sm-6,
.collection1__collection-item .collection1__product-image.rectangular.col-md-6,
.collection1__collection-item .collection1__product-image.rectangular.col-lg-6 {
    width: 100%;
    max-width: 100%;
    height: 900px;
}


.collection1__collection-item .collection1__product-image.square.col-md-6 {
    width: 100%;
    max-width: 100%;
    height: 546px;
}

.collection1__collection-item .collection1__product-image.circle.col-sm-6,
.collection1__collection-item .collection1__product-image.square.col-sm-6 {
    width: 100%;
    max-width: 100%;
    height: 546px;
}

.collection1__collection-item .collection1__product-image.rectangular.col-xl-6 {
    max-width: 100%;
}


.collection1__collection-item .collection1__product-image.square.col-xl-2,
.collection1__collection-item .collection1__product-image.circle.col-xl-2 {
    width: 180px;
    height: 180px;
    max-width: 180px;
}

.collection1__collection-item .collection1__product-image.circle.col-sm-2,
.collection1__collection-item .collection1__product-image.circle.col-md-2,
.collection1__collection-item .collection1__product-image.circle.col-lg-2,
.collection1__collection-item .collection1__product-image.square.col-lg-2,
.collection1__collection-item .collection1__product-image.square.col-md-2,
.collection1__collection-item .collection1__product-image.square.col-sm-2 {
    width: 180px;
    height: 180px;
    max-width: 180px;
}

.collection1__collection-item .collection1__product-image.rectangular.col-sm-2,
.collection1__collection-item .collection1__product-image.rectangular.col-md-2,
.collection1__collection-item .collection1__product-image.rectangular.col-lg-2,
.collection1__collection-item .collection1__product-image.rectangular.col-xl-2 {
    max-width: 100%;
}

.collection1__collection-item .collection1__product-image.circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection1__collection-item .collection1__product-image.rectangular {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.collection1__collection-item .collection1__product-image.rectangular.col-xl-6 {
    height: 700px;
}

.collection1__collection-item .collection1__product-image:hover .imageBack {
    opacity: 1;
    transition: all .3s ease-in-out
}

.collection1__collection-item .collection1__product-image .imageBack {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .3s ease-in-out
}

.collection1__collection-item .collection1__product-image.product2-blue {
    opacity: 0
}

.collection1__collection-item .collection1__product-image.product2-black {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0
}

.collection1__collection-item .collection1__product-image.product2-darkblue {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0
}

.collection1__collection-item .collection1__product-image.active {
    opacity: 1;
    visibility: visible
}

.collection1__collection-item .collection1__heart {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    color: #a8a8c1;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    z-index: 3
}

.collection1__collection-item .collection1__heart:hover {
    color: #fb6f92;
    transform: scale(1.2)
}

.collection1__collection-item .collection1__product-image img {
    width: 100%;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.collection1__collection-item .collection1__product-image.wantsHover img {
    width: 100%;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.collection1__collection-item .collection1__product-image.wantsHover img:hover {
    transform: scale(0.5);
}

.collection1__collection-item .collection1__product-info {
    margin-top: 10px
}

.collection1__collection-item .collection1__product-info .collection1__product-details .collection1__product-title {
    font-size: 1rem;
    font-weight: 700
}

.collection1__collection-item .collection1__product-price {
    font-size: 1rem;
    display: block
}

.collection1__collection-item .collection1__product-colors {
    display: flex
}

.collection1__collection-item .collection1__colors {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer
}

.collection1__collection-item .collection1__colors.black {
    background: #000
}

.collection1__collection-item .collection1__colors.blue {
    background: #9fbcd7
}

.collection1__collection-item .collection1__colors.red {
    background: red
}

.collection1__collection-item .collection1__colors.yellow {
    background: #a88b49
}

.collection1__collection-item .collection1__colors.darkblue {
    background: #2a3546
}

.collection1__collection-item .collection1__colors.denim-blue {
    background: #25314b
}